@import "bootstrap-sprockets";
@import "bootstrap";

// top


// navbar

#logo {
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
}

.nav-list {
  color: white;
  font-size: 15px;
  margin-top: -40px;
}