@import "bootstrap-sprockets";
@import "bootstrap";

// top

.jumbotron {
  margin-top: 70px;
  text-align: center;
}

.jumbotron h1 {
  font-size: 50px;
}

// navbar

#logo {
  color: white;
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
}

.nav-list {
  color: white;
  font-size: 15px;
  margin-top: -40px;
}

.dropdown {
  color: white;
  font-size: 15px;
  margin-top: -40px;
}