
// ユーザ一

.user-title {
  font-size: 40px;
  font-style: nomal;
  margin-top: 30px;
  text-align: center;
}


// ユーザー編集ページ

.user-label-list {
  margin-top: 10px;
}

// ユーザ一覧ページ

.btn-custum-csv {
  margin-top: 16px;
  width: 290px;
}

.btn-custum-index {
  height: 50px;
  width: 100px;
}

// ユーザー勤怠ページ

.custom-table {
  vertical-align: bottom; 
}

.btn-custum-tfoot {
  margin-top: 10px;
}

.custom-red-text {
  color: red;
}

// 社員一覧ページ

.employee-number {
  width: 600px;
}
.attrendane_list-table {
  margin-top: 30px;
}

